@import "tailwindcss";
@import "tw-animate-css";

/* スクロールバー削除 */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  background: white;
  margin: 0;
  color: #222;
  line-height: 1.5;
}

select {
  padding: .5rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  color: #c4c8cf;
  border: 1px solid #d1d5db;
}

h1,
h2,
h3,
.font-serif {
  font-family: 'Zen Old Mincho', serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
  display: none;
}


.form-group {
  display: flex;
  flex-direction: column;
} 

.step-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s ease;
}

.recip-card{
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.button-style {
  margin: 8rem 0 0 8.75rem;  /* mt-15 ml-35 を一行に */
  padding: 0.5rem 1rem;         /* py-2 px-4 を一行に */
  cursor: pointer;
  font: 600 1.5rem/2rem sans-serif;  /* font-semibold text-2xl を一行に */
  border-radius: 0.5rem;
  background: #f87171;
  color: white;
}

/* スクロールバーを非表示にする */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE・Edge */
  scrollbar-width: none;     /* Firefox */
}


/* recipeのトグルスイッチ本体 */
.toggle {
  position: relative;
  width: 48px;
  height: 24px;
  background-color: #d1d5db; /* グレー */
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* 丸部分 */
.toggle .circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

/* ON状態 */
.toggle.on {
  background-color: #4caf50; /* 緑 */
}

.toggle.on .circle {
  transform: translateX(24px);
}


